.message-user-container{
    height: 90px;
    /* width: 90%; */
    background-color: transparent;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
    /* margin-bottom: 10px; */
    cursor: pointer;
    transition: all 0.5s;
   
}
.message-user-container:hover{
    opacity: 0.5;
    font-weight: 900;
}

.selected-user-message {
    border-left: 3px solid #006439;
    font-weight: 900;
}

.message-user-container .user-detail{
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}
.message-user-container .status{
    margin-left: auto;
    margin-right: 5px;
}
