.button_container {
  min-height: 42px;
  background-color: var(--primary)!important;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
.button_container:hover {
  opacity: 0.8;
}
.button_container span {
  color: var(--white);
}
